.Rproj.user
.Rhistory
.RData
.Ruserdata

978-1-4757-3437-9.pdf
Ranalysis\978-3-319-52452-8.pdf
Ranalysis\978-0-387-88698-5.pdf
Plots
Clustering
ClusteringDyn
ClusteringGauss
Gauss_mean.pickle
gauss_states.pickle
Gauss_var.pickle
Gauss.log
Gauss2_mean.pickle
Gauss2_var.pickle
DynamicalUniformMeanStates.pickle
DynamicalUniformVarStates.pickle
BetaBinom_states.pickle
multpois_states.pickle
multpoisvar_meanstates.pickle
multpoisvar_varstates.pickle